In [1]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from pathlib import Path

%matplotlib inline

In [2]:
load_dotenv()

True

In [3]:
portfolio_data = Path("Resources/portfolio_eamonn.csv")
portfolio = pd.read_csv(portfolio_data)
portfolio 

portfolio["PortFolio Weight"] = portfolio["PortFolio Weight"].astype(str).str.replace("%", "")
portfolio["PortFolio Weight"] = portfolio["PortFolio Weight"].astype("float")

portfolio

tickers = portfolio["Ticker"].tolist()
tickers

portfolio_weights = portfolio["PortFolio Weight"].tolist()
portfolio_weights

tickers

['ABBV',
 'ACN',
 'APD',
 'AMGN',
 'APO',
 'APPL',
 'T',
 'BAC',
 'AVGO',
 'KO',
 'CCI',
 'ETN',
 'XOM',
 'HD',
 'IBM',
 'QQQ',
 'RPV',
 'JNJ',
 'JPM',
 'MDT',
 'MRK',
 'MSFT',
 'NEE',
 'NKE',
 'PEP',
 'PFE',
 'PG',
 'PLD',
 'O',
 'SHW',
 'KRE',
 'UNH',
 'VZ',
 'V',
 'WMT']

In [4]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [5]:
timeframe = "1Day"

# Set start and end datetimes between now and 3 years ago.
start_date = pd.Timestamp("2013-2-13", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-02-13", tz="America/New_York").isoformat()


df_ticker = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

# Display sample data
df_ticker.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,58.23,59.095,57.16,59.02,11290484,66642,58.289656,ABBV
2015-12-02 05:00:00+00:00,59.17,59.390,57.37,57.72,7663000,55281,58.141597,ABBV
2015-12-03 05:00:00+00:00,57.71,57.750,55.53,56.12,9701454,62153,56.364043,ABBV
2015-12-04 05:00:00+00:00,56.50,57.480,56.20,57.18,6751111,45095,56.939391,ABBV
2015-12-07 05:00:00+00:00,57.90,57.990,55.76,56.27,7892261,53791,56.271103,ABBV

In [6]:
ABBV = df_ticker[df_ticker['symbol']=='ABBV'].drop('symbol', axis=1)
ACN = df_ticker[df_ticker['symbol']=='ACN'].drop('symbol', axis=1)
APD = df_ticker[df_ticker['symbol']=='APD'].drop('symbol', axis=1)
AMGN = df_ticker[df_ticker['symbol']=='AMGN'].drop('symbol', axis=1)
APO = df_ticker[df_ticker['symbol']=='APO'].drop('symbol', axis=1)
APPL = df_ticker[df_ticker['symbol']=='APPL'].drop('symbol', axis=1)
T = df_ticker[df_ticker['symbol']=='T'].drop('symbol', axis=1)
BAC = df_ticker[df_ticker['symbol']=='BAC'].drop('symbol', axis=1)
AVGO = df_ticker[df_ticker['symbol']=='AVGO'].drop('symbol', axis=1)
KO = df_ticker[df_ticker['symbol']=='KO'].drop('symbol', axis=1)
CCI = df_ticker[df_ticker['symbol']=='CCI'].drop('symbol', axis=1)
ETN = df_ticker[df_ticker['symbol']=='ETN'].drop('symbol', axis=1)
XOM = df_ticker[df_ticker['symbol']=='XOM'].drop('symbol', axis=1)
HD = df_ticker[df_ticker['symbol']=='HD'].drop('symbol', axis=1)
IBM = df_ticker[df_ticker['symbol']=='IBM'].drop('symbol', axis=1)
QQQ = df_ticker[df_ticker['symbol']=='QQQ'].drop('symbol', axis=1)
RPV = df_ticker[df_ticker['symbol']=='RPV'].drop('symbol', axis=1)
JNJ = df_ticker[df_ticker['symbol']=='JNJ'].drop('symbol', axis=1)
JPM = df_ticker[df_ticker['symbol']=='JPM'].drop('symbol', axis=1)
MDT = df_ticker[df_ticker['symbol']=='MDT'].drop('symbol', axis=1)
MRK = df_ticker[df_ticker['symbol']=='MRK'].drop('symbol', axis=1)
MSFT = df_ticker[df_ticker['symbol']=='MSFT'].drop('symbol', axis=1)
NEE = df_ticker[df_ticker['symbol']=='NEE'].drop('symbol', axis=1)
NKE = df_ticker[df_ticker['symbol']=='NKE'].drop('symbol', axis=1)
PEP = df_ticker[df_ticker['symbol']=='PEP'].drop('symbol', axis=1)
PFE = df_ticker[df_ticker['symbol']=='PFE'].drop('symbol', axis=1)
PG = df_ticker[df_ticker['symbol']=='PG'].drop('symbol', axis=1)
PLD = df_ticker[df_ticker['symbol']=='PLD'].drop('symbol', axis=1)
O = df_ticker[df_ticker['symbol']=='O'].drop('symbol', axis=1)
SHW = df_ticker[df_ticker['symbol']=='SHW'].drop('symbol', axis=1)
KRE = df_ticker[df_ticker['symbol']=='KRE'].drop('symbol', axis=1)
UNH = df_ticker[df_ticker['symbol']=='UNH'].drop('symbol', axis=1)
VZ = df_ticker[df_ticker['symbol']=='VZ'].drop('symbol', axis=1)
V = df_ticker[df_ticker['symbol']=='V'].drop('symbol', axis=1)
WMT = df_ticker[df_ticker['symbol']=='WMT'].drop('symbol', axis=1)

In [7]:
display(WMT)

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2015-12-01 05:00:00+00:00,59.13,59.29,58.650,58.99,12205983,74499,58.974250
2015-12-02 05:00:00+00:00,58.61,59.29,58.315,58.35,16587177,59630,58.741094
2015-12-03 05:00:00+00:00,58.69,59.66,58.595,59.04,15844091,80801,59.017117
2015-12-04 05:00:00+00:00,59.05,59.85,59.030,59.66,10436174,62659,59.642268
2015-12-07 05:00:00+00:00,59.57,60.73,59.570,60.50,11596106,67653,60.407257
...,...,...,...,...,...,...,...
2023-02-07 05:00:00+00:00,139.77,141.30,138.690,140.98,5447813,76984,140.124518
2023-02-08 05:00:00+00:00,140.33,141.10,139.985,140.22,3897631,61004,140.412733
2023-02-09 05:00:00+00:00,140.87,141.94,140.568,141.52,4355095,60761,141.328728
2023-02-10 05:00:00+00:00,143.09,143.94,142.170,143.72,5000947,75944,143.318835
2023-02-13 05:00:00+00:00,144.71,146.12,144.510,145.91,5332380,85758,145.587730

In [8]:
df_ticker = pd.concat([ABBV,
 ACN,
 APD,
 AMGN,
 APO,
 APPL,
 T,
 BAC,
 AVGO,
 KO,
 CCI,
 ETN,
 XOM,
 HD,
 IBM,
 QQQ,
 RPV,
 JNJ,
 JPM,
 MDT,
 MRK,
 MSFT,
 NEE,
 NKE,
 PEP,
 PFE,
 PG,
 PLD,
 O,
 SHW,
 KRE,
 UNH,
 VZ,
 V,
 WMT], axis=1, keys=['ABBV',
 'ACN',
 'APD',
 'AMGN',
 'APO',
 'APPL',
 'T',
 'BAC',
 'AVGO',
 'KO',
 'CCI',
 'ETN',
 'XOM',
 'HD',
 'IBM',
 'QQQ',
 'RPV',
 'JNJ',
 'JPM',
 'MDT',
 'MRK',
 'MSFT',
 'NEE',
 'NKE',
 'PEP',
 'PFE',
 'PG',
 'PLD',
 'O',
 'SHW',
 'KRE',
 'UNH',
 'VZ',
 'V',
 'WMT'])
df_ticker

                             ABBV                                     \
                             open     high     low   close    volume
timestamp
2015-12-01 05:00:00+00:00   58.23   59.095   57.16   59.02  11290484
2015-12-02 05:00:00+00:00   59.17   59.390   57.37   57.72   7663000
2015-12-03 05:00:00+00:00   57.71   57.750   55.53   56.12   9701454
2015-12-04 05:00:00+00:00   56.50   57.480   56.20   57.18   6751111
2015-12-07 05:00:00+00:00   57.90   57.990   55.76   56.27   7892261
...                           ...      ...     ...     ...       ...
2023-02-07 05:00:00+00:00  144.58  145.462  143.66  145.14   5402052
2023-02-08 05:00:00+00:00  145.41  146.350  144.47  144.61   5757079
2023-02-09 05:00:00+00:00  148.50  153.700  147.90  148.70  12217181
2023-02-10 05:00:00+00:00  149.69  153.180  148.77  152.05   8956730
2023-02-13 05:00:00+00:00  152.02  153.780  151.26  153.73   5599055

                                                      ACN                   \
                          trade_count        vwap    open     high     low
timestamp
2015-12-01 05:00:00+00:00       66642   58.289656  107.29  108.250  107.22
2015-12-02 05:00:00+00:00       55281   58.141597  107.91  108.648  107.51
2015-12-03 05:00:00+00:00       62153   56.364043  107.54  108.170  105.37
2015-12-04 05:00:00+00:00       45095   56.939391  106.29  109.260  106.25
2015-12-07 05:00:00+00:00       53791   56.271103  109.13  109.650  108.24
...                               ...         ...     ...      ...     ...
2023-02-07 05:00:00+00:00       65226  144.583283  282.70  288.845  282.50
2023-02-08 05:00:00+00:00       72727  145.241524  285.88  289.180  283.98
2023-02-09 05:00:00+00:00      151186  149.928353  287.42  289.380  284.42
2023-02-10 05:00:00+00:00      113716  151.867194  281.70  284.570  281.02
2023-02-13 05:00:00+00:00       69286  153.048832  284.37  288.410  284.37

                           ...         V                             WMT  \
                           ...    volume trade_count        vwap    open
timestamp                  ...
2015-12-01 05:00:00+00:00  ...   6702065       49389   79.560008   59.13
2015-12-02 05:00:00+00:00  ...   7309979       54556   79.567231   58.61
2015-12-03 05:00:00+00:00  ...   8689600       62942   78.702274   58.69
2015-12-04 05:00:00+00:00  ...   9944571       53411   80.013978   59.05
2015-12-07 05:00:00+00:00  ...  15270583       51755   79.509085   59.57
...                        ...       ...         ...         ...     ...
2023-02-07 05:00:00+00:00  ...   4042828       75378  230.032704  139.77
2023-02-08 05:00:00+00:00  ...   4978728       74862  230.617219  140.33
2023-02-09 05:00:00+00:00  ...   5238452       72554  230.041069  140.87
2023-02-10 05:00:00+00:00  ...   4509826       73238  227.451499  143.09
2023-02-13 05:00:00+00:00  ...   5103667       72191  228.532955  144.71

                                                                          \
                             high      low   close    volume trade_count
timestamp
2015-12-01 05:00:00+00:00   59.29   58.650   58.99  12205983       74499
2015-12-02 05:00:00+00:00   59.29   58.315   58.35  16587177       59630
2015-12-03 05:00:00+00:00   59.66   58.595   59.04  15844091       80801
2015-12-04 05:00:00+00:00   59.85   59.030   59.66  10436174       62659
2015-12-07 05:00:00+00:00   60.73   59.570   60.50  11596106       67653
...                           ...      ...     ...       ...         ...
2023-02-07 05:00:00+00:00  141.30  138.690  140.98   5447813       76984
2023-02-08 05:00:00+00:00  141.10  139.985  140.22   3897631       61004
2023-02-09 05:00:00+00:00  141.94  140.568  141.52   4355095       60761
2023-02-10 05:00:00+00:00  143.94  142.170  143.72   5000947       75944
2023-02-13 05:00:00+00:00  146.12  144.510  145.91   5332380       85758


                                 vwap
timestamp
2015-12-01 05:00:00+00:00   58.974250
2015-12-02 05:00:00+00:00   58.741094
2015-12-03 05:00:00+00:00   59.017117
2015-12-04 05:00:00+00:00   59.642268
2015-12-07 05:00:00+00:00   60.407257
...                               ...
2023-02-07 05:00:00+00:00  140.124518
2023-02-08 05:00:00+00:00  140.412733
2023-02-09 05:00:00+00:00  141.328728
2023-02-10 05:00:00+00:00  143.318835
2023-02-13 05:00:00+00:00  145.587730

[1813 rows x 245 columns]

In [10]:
daily_returns = df_ticker["ABBV"]["close"].pct_change()
daily_returns

timestamp
2015-12-01 05:00:00+00:00         NaN
2015-12-02 05:00:00+00:00   -0.022026
2015-12-03 05:00:00+00:00   -0.027720
2015-12-04 05:00:00+00:00    0.018888
2015-12-07 05:00:00+00:00   -0.015915
                               ...
2023-02-07 05:00:00+00:00    0.000827
2023-02-08 05:00:00+00:00   -0.003652
2023-02-09 05:00:00+00:00    0.028283
2023-02-10 05:00:00+00:00    0.022529
2023-02-13 05:00:00+00:00    0.011049
Name: close, Length: 1813, dtype: float64